.Home{
    max-width: 900px;
    margin: 0 auto;
    font-size: 1.2rem;
    background-color: white;
    padding: 10px;
}
h1{
    color:white;
    text-shadow: 0 0 10px blue;
    text-align: center;
}
h2{
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
   margin-bottom: 50px;
   line-height: 1.5;
border-bottom: 1px solid red;
border-top: 1px solid red;
border-left: 1px solid red;
border-right: 1px solid red;


}
h3{
   text-align: center;
   font-size: 2rem;
   border-bottom: 1px solid red;
   max-width: 300px;
   margin: 50px auto;
}
p{
    padding: 40px;
    line-height: 2;
    
}