body{
    background-image: url(./components/images/back3.jpg);
    background-size: cover;
}
.nav {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-size: 1.2rem;
}
li{
    list-style-type: none; 
    display: inline;
}
a {
    
    text-decoration: none;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    padding: 50px;
    text-shadow: 0 0 .2rem blue;
    padding: 15px;
    transition: 1s;
    
}
a:hover{
    color:blue;
    background-color: rgb(184, 201, 212);
    border-radius: 20%;
}